
.nav-right{
  float:right;
}

.offers-class{
  text-align: center;
}

/* .side-by-side {
  display: flex;
  flex-flow: row wrap;

} */

.glyphicon {
  font-size: 50px;
}

.old-price{
  text-decoration: line-through;
}

td{
  padding: 10px;
}

form > h2{
  text-align: center;
}

.cart-image{
  float: left;
}

.item-details{
  padding-left: 375px;
}

#total-cost{
  float:right;
  padding-right:200px;
  margin-top: 0px;
}
